
.container-fluid{
  height:100vw;
  background-image:url("back.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  font-weight:800!important;
}
#list{
  padding-top: 2%;
}
